<div class="container shadow-blue-200">
    <mat-toolbar class="flex items-center gap-2">
        <span>Esvelto Classroom</span>

        <!-- Divisor vertical -->
        <div class="h-7 w-1 rounded-xl bg-blue-800 mx-3"></div>

        <span class="flex-auto"></span>

        <button matButton="elevated" class="example-icon favorite-icon"
            aria-label="Example icon-button with heart icon">
            Tutorial
            <mat-icon>help</mat-icon>
        </button>

        <button matButton="elevated" class="example-icon favorite-icon"
            aria-label="Example icon-button with heart icon">
            Planes
            <mat-icon>upcoming</mat-icon>
        </button>

        <button matButton="elevated" class="example-icon favorite-icon"
            aria-label="Example icon-button with heart icon">
            Prueba Gratuita
            <mat-icon>key</mat-icon>
        </button>

        <div class="h-7 w-1 rounded-xl bg-blue-800 mx-3"></div>
        <button routerLink="/auth/register" matButton="filled" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            Registrarse
            <mat-icon>how_to_reg</mat-icon>
        </button>

        <button routerLink="/auth/login" matButton="filled" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            Iniciar Sesión
            <mat-icon>login</mat-icon>
        </button>

    </mat-toolbar>
</div>