<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-5">
  <!-- Email -->
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Correo electrónico</mat-label>

    <input
      matInput
      type="email"
      formControlName="email"
      placeholder="juan.perez@ejemplo.com"
      autocomplete="email"
    />

    <mat-icon matSuffix class="text-slate-400"> email </mat-icon>

    @if (loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched) {
      <mat-error>El correo electrónico es requerido</mat-error>
    }

    @if (loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched) {
      <mat-error>Ingresa un correo válido</mat-error>
    }

    @if (loginForm.controls.email.hasError('notVerified')) {
      <mat-error> Este correo no ha sido verificado </mat-error>
    }

    @if (loginForm.controls.email.hasError('badCredentials')) {
      <mat-error> Credenciales incorrectas </mat-error>
    }
  </mat-form-field>

  <!-- Password -->
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Contraseña</mat-label>

    <input matInput type="password" formControlName="password" autocomplete="current-password" />

    <mat-icon matSuffix class="text-slate-400"> lock </mat-icon>

    @if (loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched) {
      <mat-error>La contraseña es requerida</mat-error>
    }
  </mat-form-field>

  <p class="text-center">
    Aún no tienes una cuenta? <a class="text-blue-600" routerLink="/auth/register">Regístrate</a>
  </p>
  @if (errorMessage()) {
    <p class="text-center text-red-600" role="alert">{{ errorMessage() }}</p>
  }
  <div class="flex justify-end mt-2 pt-2">
    <!-- <button mat-button type="button" class="text-slate-600">Cancelar</button> -->

    <button mat-flat-button color="primary" type="submit" class="flex items-end gap-1" [disabled]="isSubmitting()">
      <mat-icon>person_check</mat-icon>
      {{ isSubmitting() ? 'Iniciando sesión...' : 'Iniciar Sesión' }}
    </button>
  </div>
</form>
